doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title gulpStudy
        link(rel="stylesheet" href="css/style.min.css")
        script(type="text/javascript" src="js/index.min.js")
    body
        .myClass 我的页面

